<div class="container">
<h1>ITrellis Car Dealership</h1>
  <div class="car-form">
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Color</mat-label>
        <mat-select [(ngModel)]="carQuery.color">
          <mat-option value=null>No Preference</mat-option>
          <mat-option value="Red">Red</mat-option>
          <mat-option value="White">White</mat-option>
          <mat-option value="Gray">Gray</mat-option>
          <mat-option value="Silver">Silver</mat-option>
          <mat-option value="Black">Black</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Sunroof</mat-label>
        <mat-select [(ngModel)]="carQuery.hasSunroof">
          <mat-option value=null>No preference</mat-option>
          <mat-option value=true>Included</mat-option>
          <mat-option value=false>Excluded</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Four Wheel Drive</mat-label>
        <mat-select [(ngModel)]="carQuery.isFourWheelDrive">
          <mat-option value=null>No preference</mat-option>
          <mat-option value=true>Included</mat-option>
          <mat-option value=false>Excluded</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Low Miles</mat-label>
        <mat-select [(ngModel)]="carQuery.hasLowMiles">
          <mat-option value=null>No preference</mat-option>
          <mat-option value=true>Included</mat-option>
          <mat-option value=false>Excluded</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Power Windows</mat-label>
        <mat-select [(ngModel)]="carQuery.hasPowerWindows">
          <mat-option value=null>No preference</mat-option>
          <mat-option value=true>Included</mat-option>
          <mat-option value=false>Excluded</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Navigation</mat-label>
        <mat-select [(ngModel)]="carQuery.hasNavigation">
          <mat-option value=null>No preference</mat-option>
          <mat-option value=true>Included</mat-option>
          <mat-option value=false>Excluded</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="car-form-field" appearance="fill">
        <mat-label>Heated Seats</mat-label>
        <mat-select [(ngModel)]="carQuery.hasHeatedSeats">
          <mat-option value=null>No preference</mat-option>
          <mat-option value=true>Included</mat-option>
          <mat-option value=false>Excluded</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button (click)="searchForCars()" class="car-form-field" mat-raised-button color="primary">Find me a car!</button>
  </div>
  
  <div *ngIf="carList" class="car-list">
    <mat-card *ngFor="let car of carList" class="car-card">
      <mat-card-title>{{car.make}}</mat-card-title>
      <mat-card-subtitle>{{car.year}}</mat-card-subtitle>
      <mat-card-content>
        <p *ngIf="car.hasSunroof">Sunroof Included</p>
        <p *ngIf="car.isFourWheelDrive">Four Wheel Drive Included</p>
        <p *ngIf="car.hasLowMiles">Low Miles</p>
        <p *ngIf="car.hasPowerWindows">Power Windows Included</p>
        <p *ngIf="car.hasNavigation">Navigation Included</p>
        <p *ngIf="car.hasHeatedSeats">Heated Seats Included</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>